[submodule "BDIBESA"]
	path = BDIBESA
	url = https://github.com/SIDRePUJ/BDIBESA.git

[submodule "KernelBESA"]
	path = KernelBESA
	url = https://github.com/SIDRePUJ/KernelBESA.git

[submodule "LocalBESA"]
	path = LocalBESA
	url = https://github.com/SIDRePUJ/LocalBESA.git

[submodule "RationalBESA"]
	path = RationalBESA
	url = https://github.com/SIDRePUJ/RationalBESA.git

[submodule "RemoteBESA"]
	path = RemoteBESA
	url = https://github.com/SIDRePUJ/RemoteBESA.git

[submodule "eBDIBESA"]
	path = eBDIBESA
	url = https://github.com/SIDRePUJ/eBDIBESA.git

[submodule "wpsSimulator"]
	path = wpsSimulator
	url = https://github.com/SIDRePUJ/wpsSimulator.git

[submodule "wpsUI"]
	path = wpsUI
	url = https://github.com/ISCOUTB/wpsUI.git
